h1 Editing testcase

== render 'form'

=> link_to 'Show', project_testmodule_testcase_path(), class: "btn btn-primary btn-sm"

=< link_to 'Back',  project_testmodule_testcases_path, class: "btn btn-primary btn-sm"

